<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="old contact" stopProcessing="true">
                    <match url="^contact/{0,1}$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                    </conditions>
                    <action type="Redirect" url="http://www.envisionbi.com/" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="old blog rewrite" stopProcessing="true">
                    <match url="^blog/{0,1}$" />
                    <action type="Redirect" url="http://www.envisionbi.com/" />
                </rule>
                <rule name="old home-dev rewrite" stopProcessing="true">
                    <match url="^home-dev/{0,1}$" />
                    <action type="Redirect" url="http://www.envisionbi.com/" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
